<!DOCTYPE html>

<html lang="en">
<link href="/style.css" type="text/css" rel="stylesheet">

<head>
    <title>Website Name</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free File Sharing Tool">
	<meta name="keywords" content="file, sharing, free, software,engineering">
	<meta name="author" content="Green Night Dwellers">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="container">
         <header>
     <nav>
         <ul class="navformating">
             <li class="floatRightNav"> <a href="#"> About Us</a></li>
             <li class="dropdown floatRightNav">

            {{!--check if there is user in session and changes the log in to the user name--}}
             {{#if user}}
		        <a href="javascript:void(0)" class="dropbtn">Hello, {{user}} </a>
             {{else}}
                <a href="javascript:void(0)" class="dropbtn">Hello</a>
             {{/if}}
             
             <li class="floatRightNav">  <img src="../../images/alarm.png" width="25" alt=""></li>        
             <li class="logo"><a href='#'> <img src="../../images/logo.png" width="60" alt=""></a></li>

         </ul>
 </nav>
 </header>

        <section class="homePageContainer">
            <br>
            <strong>Your file '{{fileName}}' is ready to be downloaded!</strong>

            <p><button id= "registerButton"><a href={{filePath}} download={{fileName}}>Download!</a></button></p>
            <form action="/downloadFile/{{id}}" method="post">                
                <button id= "registerButton3" type="submit"> <a href="/">Go back</a></button>
                <br>
            </form>
        </section>
        <img src="/images/giphy.gif" alt="excited person">
        
        {{>footer}}
</body>

</html>